.navLink {
	@apply btn 
        btn-ghost 
        normal-case
        text-sm
        md:text-base
        fhd:text-lg;
}

.mobile {
	@apply mx-auto
        navbar        
        bg-base-100
        md:hidden        
        sticky
        top-0
        z-10
        px-4;
}

.desktop {
	@apply mx-auto
        navbar
        bg-base-100
        hidden
        md:inline-block
        text-center
        sticky
        top-0
        z-10;
}

.navSpan {
	@apply text-primary;
}
