/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './base/base.scss';
@import './components/index.scss';

@layer utilities {
	.disappear {
		opacity: 0;
		transition: all 3s;
	}

	.appear {
		opacity: 1;
	}

	.disappearLeft {
		opacity: 0;
		filter: blur(5px);
		transform: translateX(-100%);
		transition: all 1s;
	}

	.appearLeft {
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
	}

	.disappearTop {
		opacity: 0;
		filter: blur(5px);
		transform: translateY(100%);
		transition: all 1s;
	}

	.appearTop {
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
	}
}
/* stylelint-enable */
