$color1: #7a7a7a;
$color2: rgb(254, 255, 225);

@media only screen and (min-width: 1920px) {
	html {
		font-size: 18px;
	}

	.main-container {
		grid-template-columns: 25% 25% 25% 25%;

		.header {
			grid-column: 1 / span 4;
		}

		.nav-bar {
			grid-column: 1 / span 4;
		}

		.main {
			grid-column: 2 / span 2;

			.info-block {
				margin: 0;
				margin-top: 5vh;
			}
		}

		.portfolio-works {
			grid-column: 2 / span 2;
			margin-left: 0;
			margin-right: 0;
			padding-left: 5vw;
			padding-right: 5vw;
		}

		.contact-form {
			grid-column: 2 / span 2;
			margin-left: 0;
			margin-right: 0;

			.wrapper {
				.inner {
					max-width: 100%;
				}
			}
		}

		.footer {
			grid-column: 1 / span 4;
		}
	}
}

@media only screen and (max-width: 1024px) {
	html {
		font-size: 16px;
	}

	.main-container {
		grid-template-columns: 100%;
		grid-template-rows: 100vh auto auto auto auto auto;

		.header {
			grid-column: 1;

			#first-line {
				font-size: 25vw;
				letter-spacing: -0.2rem;
			}

			@keyframes glow {
				from {
					color: $color1;
					text-shadow: 0 0 0.625rem $color2, 0 0 1.25rem $color2,
						0 0 1.875rem $color2, 0 0 2.5rem $color2, 0 0 3.125rem $color2,
						0 0 3.75rem $color2, 0 0 4.375rem $color2, 0 0 5.625rem $color2;
				}

				to {
					color: $color1;
					text-shadow: 0.1rem 0.15rem 0rem yellow;
				}
			}

			#second-line {
				font-size: 10vw;
				width: 82vw;
				height: 13vw;
				text-shadow: 0.1rem 0.15rem 0rem $color1;
			}
		}

		.nav-bar {
			grid-column: 1;
			height: auto;

			.menu__button {
				display: block;
			}

			nav {
				display: none;
			}

			ul {
				flex-wrap: wrap;
				margin: 0;
				padding: 0;

				li {
					width: 100%;
					text-align: center;
					margin: 0.3rem;
				}
			}
		}

		.main {
			grid-column: 1;
			margin-top: 2rem;

			.info-block {
				display: flex;
				flex-wrap: wrap;
				margin: auto;
				margin-top: 5vh;
				width: 90vw;
			}
			.timeline {
				margin: 0 2rem 0 2rem;
				.timeline-container-two {
					.timeline-icon {
						width: 4rem;
						height: 4rem;
						left: -5.7rem;
						font-size: 2.5rem;
						padding-top: 0.4rem;
					}
				}
			}
		}

		.portfolio-works {
			grid-column: 1;
			margin-left: 5vw;
			margin-right: 5vw;
		}

		.contact-form {
			grid-column: 1;
			margin-left: 5vw;
			margin-right: 5vw;

			.inner {
				padding: 1rem 1rem 1rem;
			}
		}

		.footer {
			grid-column: 1;

			p {
				margin-left: 0;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	html {
		font-size: 14px;
	}
}
