@media (prefers-reduced-motion: no-preference) {
	.html__animation {
		animation: progress1 4s linear;

		@keyframes progress1 {
			0% {
				width: 0%;
			}
			100% {
				width: 80%;
			}
		}
	}

	.css__animation {
		animation: progress2 4s linear;

		@keyframes progress2 {
			0% {
				width: 0%;
			}
			100% {
				width: 75%;
			}
		}
	}

	.scss__animation {
		animation: progress3 4s linear;

		@keyframes progress3 {
			0% {
				width: 0%;
			}
			100% {
				width: 75%;
			}
		}
	}

	.js__animation {
		animation: progress4 4s linear;

		@keyframes progress4 {
			0% {
				width: 0%;
			}
			100% {
				width: 75%;
			}
		}
	}

	.git__animation {
		animation: progress16 4s linear;

		@keyframes progress16 {
			0% {
				width: 0%;
			}
			100% {
				width: 75%;
			}
		}
	}

	.nodejs__animation {
		animation: progress5 4s linear;

		@keyframes progress5 {
			0% {
				width: 0%;
			}
			100% {
				width: 60%;
			}
		}
	}

	.db__animation {
		animation: progress6 4s linear;

		@keyframes progress6 {
			0% {
				width: 0%;
			}
			100% {
				width: 50%;
			}
		}
	}

	.react__animation {
		animation: progress7 4s linear;

		@keyframes progress7 {
			0% {
				width: 0%;
			}
			100% {
				width: 65%;
			}
		}
	}

	.redux__animation {
		animation: progress8 4s linear;

		@keyframes progress8 {
			0% {
				width: 0%;
			}
			100% {
				width: 80%;
			}
		}
	}

	.tailwind__animation {
		animation: progress9 4s linear;

		@keyframes progress9 {
			0% {
				width: 0%;
			}
			100% {
				width: 65%;
			}
		}
	}

	.webpack__animation {
		animation: progress10 4s linear;

		@keyframes progress10 {
			0% {
				width: 0%;
			}
			100% {
				width: 80%;
			}
		}
	}

	.bootstrap__animation {
		animation: progress11 4s linear;

		@keyframes progress11 {
			0% {
				width: 0%;
			}
			100% {
				width: 65%;
			}
		}
	}

	.pwa__animation {
		animation: progress12 4s linear;

		@keyframes progress12 {
			0% {
				width: 0%;
			}
			100% {
				width: 65%;
			}
		}
	}

	.ts__animation {
		animation: progress13 4s linear;

		@keyframes progress13 {
			0% {
				width: 0%;
			}
			100% {
				width: 50%;
			}
		}
	}

	.graphql__animation {
		animation: progress14 4s linear;

		@keyframes progress14 {
			0% {
				width: 0%;
			}
			100% {
				width: 30%;
			}
		}
	}

	.apollo__animation {
		animation: progress15 4s linear;

		@keyframes progress15 {
			0% {
				width: 0%;
			}
			100% {
				width: 30%;
			}
		}
	}

	.nextjs__animation {
		animation: progress17 4s linear;

		@keyframes progress17 {
			0% {
				width: 0%;
			}
			100% {
				width: 30%;
			}
		}
	}

	.materialUI__animation {
		animation: progress18 4s linear;

		@keyframes progress18 {
			0% {
				width: 0%;
			}
			100% {
				width: 30%;
			}
		}
	}
}
