$color2: rgb(254, 255, 225);

@media (prefers-reduced-motion: no-preference) {
	.info__animation {
		position: relative;
		overflow: hidden;
		animation: fadeIn 0s 0.5s;
		animation-fill-mode: backwards;

		&::after {
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: $color2;
			transform: translateX(-100%);
			animation: secondaryImageOverlayIn 0.5s 0s, secondaryImageOverlayOut 2s 0.5s;
			animation-fill-mode: both;
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes secondaryImageOverlayIn {
		0% {
			width: 0;
		}
		100% {
			width: 100%;
		}
	}

	@keyframes secondaryImageOverlayOut {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(100%);
		}
	}
}
