@media (prefers-reduced-motion: no-preference) {
	.html__animation {
		-webkit-animation: progress1 4s linear;
		animation: progress1 4s linear;
	}
	@-webkit-keyframes progress1 {
		0% {
			width: 0%;
		}
		100% {
			width: 80%;
		}
	}
	@keyframes progress1 {
		0% {
			width: 0%;
		}
		100% {
			width: 80%;
		}
	}

	.css__animation {
		-webkit-animation: progress2 4s linear;
		animation: progress2 4s linear;
	}
	@-webkit-keyframes progress2 {
		0% {
			width: 0%;
		}
		100% {
			width: 75%;
		}
	}
	@keyframes progress2 {
		0% {
			width: 0%;
		}
		100% {
			width: 75%;
		}
	}

	.scss__animation {
		-webkit-animation: progress3 4s linear;
		animation: progress3 4s linear;
	}
	@-webkit-keyframes progress3 {
		0% {
			width: 0%;
		}
		100% {
			width: 75%;
		}
	}
	@keyframes progress3 {
		0% {
			width: 0%;
		}
		100% {
			width: 75%;
		}
	}

	.js__animation {
		-webkit-animation: progress4 4s linear;
		animation: progress4 4s linear;
	}
	@-webkit-keyframes progress4 {
		0% {
			width: 0%;
		}
		100% {
			width: 75%;
		}
	}
	@keyframes progress4 {
		0% {
			width: 0%;
		}
		100% {
			width: 75%;
		}
	}

	.nodejs__animation {
		-webkit-animation: progress5 4s linear;
		animation: progress5 4s linear;
	}
	@-webkit-keyframes progress5 {
		0% {
			width: 0%;
		}
		100% {
			width: 60%;
		}
	}
	@keyframes progress5 {
		0% {
			width: 0%;
		}
		100% {
			width: 60%;
		}
	}

	.db__animation {
		-webkit-animation: progress6 4s linear;
		animation: progress6 4s linear;
	}
	@-webkit-keyframes progress6 {
		0% {
			width: 0%;
		}
		100% {
			width: 50%;
		}
	}
	@keyframes progress6 {
		0% {
			width: 0%;
		}
		100% {
			width: 50%;
		}
	}

	.react__animation {
		-webkit-animation: progress7 4s linear;
		animation: progress7 4s linear;
	}
	@-webkit-keyframes progress7 {
		0% {
			width: 0%;
		}
		100% {
			width: 65%;
		}
	}
	@keyframes progress7 {
		0% {
			width: 0%;
		}
		100% {
			width: 65%;
		}
	}

	.redux__animation {
		-webkit-animation: progress8 4s linear;
		animation: progress8 4s linear;
	}
	@-webkit-keyframes progress8 {
		0% {
			width: 0%;
		}
		100% {
			width: 80%;
		}
	}
	@keyframes progress8 {
		0% {
			width: 0%;
		}
		100% {
			width: 80%;
		}
	}

	.tailwind__animation {
		-webkit-animation: progress9 4s linear;
		animation: progress9 4s linear;
	}
	@-webkit-keyframes progress9 {
		0% {
			width: 0%;
		}
		100% {
			width: 65%;
		}
	}
	@keyframes progress9 {
		0% {
			width: 0%;
		}
		100% {
			width: 65%;
		}
	}

	.webpack__animation {
		-webkit-animation: progress10 4s linear;
		animation: progress10 4s linear;
	}
	@-webkit-keyframes progress10 {
		0% {
			width: 0%;
		}
		100% {
			width: 80%;
		}
	}
	@keyframes progress10 {
		0% {
			width: 0%;
		}
		100% {
			width: 80%;
		}
	}

	.bootstrap__animation {
		-webkit-animation: progress11 4s linear;
		animation: progress11 4s linear;
	}
	@-webkit-keyframes progress11 {
		0% {
			width: 0%;
		}
		100% {
			width: 65%;
		}
	}
	@keyframes progress11 {
		0% {
			width: 0%;
		}
		100% {
			width: 65%;
		}
	}

	.pwa__animation {
		-webkit-animation: progress12 4s linear;
		animation: progress12 4s linear;
	}
	@-webkit-keyframes progress12 {
		0% {
			width: 0%;
		}
		100% {
			width: 65%;
		}
	}
	@keyframes progress12 {
		0% {
			width: 0%;
		}
		100% {
			width: 65%;
		}
	}

	.ts__animation {
		-webkit-animation: progress13 4s linear;
		animation: progress13 4s linear;
	}
	@-webkit-keyframes progress13 {
		0% {
			width: 0%;
		}
		100% {
			width: 50%;
		}
	}
	@keyframes progress13 {
		0% {
			width: 0%;
		}
		100% {
			width: 50%;
		}
	}

	.graphql__animation {
		-webkit-animation: progress14 4s linear;
		animation: progress14 4s linear;
	}
	@-webkit-keyframes progress14 {
		0% {
			width: 0%;
		}
		100% {
			width: 30%;
		}
	}
	@keyframes progress14 {
		0% {
			width: 0%;
		}
		100% {
			width: 30%;
		}
	}

	.apollo__animation {
		-webkit-animation: progress15 4s linear;
		animation: progress15 4s linear;
	}
	@-webkit-keyframes progress15 {
		0% {
			width: 0%;
		}
		100% {
			width: 30%;
		}
	}
	@keyframes progress15 {
		0% {
			width: 0%;
		}
		100% {
			width: 30%;
		}
	}
  
	.nextjs__animation {
		-webkit-animation: progress14 4s linear;
		animation: progress14 4s linear;
	}
	@keyframes progress14 {
		0% {
			width: 0%;
		}
		100% {
			width: 30%;
		}
	}
}
