$color2: rgb(254, 255, 225);
$color5: #0d99d7;

.contact-form {
	.wrapper {	
		margin-top: 3rem;	
		display: flex;
		align-items: center;
	}

	.inner {	
		margin: auto;
		background: #27293d;
		border: 0.625rem solid $color2;
		padding: 4.8125rem 6.1875rem 5.4375rem;
		box-shadow: 0rem 0rem 0.625rem 0rem rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0rem 0rem 0.625rem 0rem rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0rem 0rem 0.625rem 0rem rgba(0, 0, 0, 0.2);
		-ms-box-shadow: 0rem 0rem 0.625rem 0rem rgba(0, 0, 0, 0.2);
		-o-box-shadow: 0rem 0rem 0.625rem 0rem rgba(0, 0, 0, 0.2);
	}

	textarea {
		resize: none;
	}

	h3 {
		color: rgb(254, 255, 225);
		text-transform: uppercase;
		font-size: 2.8125rem;
		font-weight: bolder;
		text-align: center;
		margin-bottom: 0.75rem;
	}

	p {
		font-weight: normal;
		color: rgb(254, 255, 225);
		text-align: center;
		padding: 0 0.625rem;
		margin-bottom: 3.4375rem;
		line-height: 1.8;
	}

	.form-group {
		position: relative;
		display: block;
		margin-bottom: 3rem;

		span {
			font-size: 0.9375rem;
			color: $color2;
			position: absolute;
			top: 0.6875rem;
			transition: all 0.2s ease;
			transform-origin: 0 0;
			cursor: text;
		}
		span.border {
			height: 0.125rem;
			display: block;
			position: absolute;
			width: 100%;
			left: 0;
			top: 2.5625rem;
			transform: scaleX(0);
			transition: all 0.15s ease;
			background: $color2;
		}
	}

	.form-control {
		color: $color2;
		border: none;
		border-bottom: 2px solid $color2;
		display: block;
		width: 100%;
		height: 2.8125rem;
		font-size: 0.9375rem;
		background: none;

		&:focus,
		&:valid {
			box-shadow: none;
			border-bottom: 0.125rem solid $color2;

			& + span {
				transform: translateY(-1.375rem) scale(0.8);
				& + .border {
					transform: scaleX(1);
				}
			}
		}
	}

	textarea.form-control {
		padding-top: 0.625rem;
		padding-bottom: 0.625rem;
	}

	button {
		border: none;
		width: 10.125rem;
		height: 3.1875rem;
		border: 0.125rem solid $color2;
		margin: auto;
		margin-top: 3.75rem;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		background: none;
		color: $color2;
		text-transform: uppercase;
		font-weight: bold;
		-webkit-transform: perspective(0.0625rem) translateZ(0);
		transform: perspective(0.0625rem) translateZ(0);
		position: relative;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;

		i {
			margin-left: 0.625rem;
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-transition-duration: 0.1s;
			transition-duration: 0.1s;
			-webkit-transition-property: transform;
			transition-property: transform;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		}

		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $color2;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transform-origin: 0 50%;
			transform-origin: 0 50%;
			-webkit-transition-property: transform;
			transition-property: transform;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		}

		&:hover {
			border-color: transparent;
			color: black;

			&:before {
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
			}

			i {
				-webkit-transform: translateX(0.25rem);
				transform: translateX(0.25rem);
			}
		}

		&:disabled {
			opacity: 0.5;
		}
	}

	.success {		
		p {
			margin-bottom: 0;
			margin-top: 2rem;
		}
	}
}
