$color1: #7a7a7a;
$color2: rgb(254, 255, 225);
$color3: #1e1e2f;
$color4: rgba(0, 0, 0, 1);

$colone: #312d3c;
$coltwo: #1d1e22;
$colthr: #f4f4f4;

$primary: #1d8cf8;
$secondary: #4f537b;
$info: #11cdef;
$success: #00bf9a;
$warning: #ff8d72;
$danger: #fd5d93;

$body-bg: #1e1e2f;

* {
	@apply box-border;
}

html,
body {
	@apply p-0
		m-0;
}

a {
	@apply text-inherit
		no-underline;
}

html {
	@apply scroll-smooth;
}

body {
	@apply bg-body-background;
}

h1.div__heading {
	color: $color2;
	font-size: 3rem;
	margin-bottom: 2rem;
	font-style: italic;
	font-family: 'Mr Dafoe';
	text-align: center;
	letter-spacing: 0.3rem;
}

.main-container {
	max-width: 100%;
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-rows: 100vh 5vh auto auto auto auto;

	.header {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		grid-column: 1 / span 2;
		grid-row: 1 / 1;
		background: linear-gradient(45deg, $color3 9%, $color4 100%);
	}

	.nav-bar {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-content: center;
		grid-column: 1 / span 2;
		grid-row: 2 / 2;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: 1;

		.menu__button {
			display: none;
		}
	}

	.main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		grid-column: 1 / span 2;
		grid-row: 3 / 3;
		text-align: center;

		.info-block {
			display: grid;
			grid-template-columns: 35% 65%;
			grid-template-rows: auto;
			align-items: center;
			justify-content: center;
			margin: 5vh 25vw 5vh 25vw;
			width: 50vw;
			position: relative;

			.first-block {
				grid-column: 1 / 1;
				grid-row: 1 / 1;
			}

			.second-block {
				grid-column: 2 / 2;
				grid-row: 1 / 1;
			}
		}
	}

	.portfolio-works {
		grid-column: 1 / span 2;
		grid-row: 4 / 4;
		margin-left: 25vw;
		margin-right: 25vw;
	}

	.contact-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		grid-column: 1 / span 2;
		grid-row: 5 / 5;
		margin-bottom: 2rem;
		margin-left: 25vw;
		margin-right: 25vw;
	}

	.footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		grid-column: 1 / span 2;
		grid-row: 6 / 6;
	}
}
