@media (prefers-reduced-motion: no-preference) {
  #app-logo-react {
    animation: App-logo-react-spin infinite 20s linear;
  }
}

@keyframes App-logo-react-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}