$color2: rgb(254, 255, 225);

$secondary: #4f537b;

$html: #e34f26;
$css: #2965f1;
$scss: #c69;
$js: #f0db4f;
$git: #f1502f;
$nodejs: #3c873a;
$db: #0064a5;
$react: #61dbfb;
$redux: #764abc;
$tailwind: linear-gradient(to right, #6dd7b9, #2383ae);
$bootstrap: #563d7c;
$pwa: #5a0fc8;
$ts: #007acc;
$graphql: #e535ab;
$apollo: #112b49;
$nextjs: black;
$webpack: #1c78c0;
$materialUI: #007fff;

// timeline variables
$body-bg: #1e1e2f;
$timeline-before-bg: #222a42;
$timeline-body-bg: #27293d;
$timeline-body-round: 15px;
$timeline-body-shadow: 1px 3px 9px rgb(254, 255, 225);

$timeline-body-bg1: #363958;
$timeline-body-round1: 15px;
$timeline-body-shadow1: 1px 3px 9px yellow;

.timeline-container-one {
	max-width: 40.625rem;
	margin: 3.125rem auto;
	text-align: justify;
	text-justify: inter-word;

	p {
		font-weight: normal;
		line-height: 1.5;
		font-size: 1rem;
	}
}

.timeline {
	position: relative;
	padding-left: 4rem;
	margin: 0 0 0 1.875rem;
	color: white;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 0.25rem;
		height: 100%;
		background: $timeline-body-bg;
	}

	.timeline-container-two {
		position: relative;
		margin-bottom: 2.5rem;

		.timeline-icon {
			position: absolute;
			left: -6.375rem;
			top: -0.625rem;
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
			text-align: center;
			font-size: 3.5rem;
			background: $secondary;
			display: flex;
			justify-content: center;
			align-items: center;

			i {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}

		.timeline-body {
			background: $timeline-body-bg;
			border-radius: $timeline-body-round;
			padding: 1.25rem 1.25rem 0.9375rem;
			box-shadow: $timeline-body-shadow;

			&:before {
				content: '';
				background: inherit;
				width: 1.25rem;
				height: 1.25rem;
				display: block;
				position: absolute;
				left: -0.625rem;
				transform: rotate(45deg);
				border-radius: 0 0 0 0.125rem;
			}

			.timeline-title {
				display: flex;
				margin-bottom: 1.4rem;
				margin-top: 0;

				.badge {
					background: $secondary;
					padding: 0.25rem 0.5rem;
					border-radius: 0.1875rem;
					font-size: 1rem;
					font-weight: bold;
				}
			}

			.timeline-subtitle {
				color: yellow;
				font-weight: 300;
				font-style: italic;
				opacity: 0.7;
				margin-top: 1rem;
				font-size: 0.6875rem;
				text-align: start;
			}
		}

		&.html {
			.badge,
			.timeline-icon {
				background: $html !important;
			}
		}

		&.css {
			.badge,
			.timeline-icon {
				background: $css !important;
			}
		}

		&.scss {
			.badge,
			.timeline-icon {
				background: $scss !important;
			}
		}

		&.js {
			.badge,
			.timeline-icon {
				background: $js !important;
			}
		}

		&.git {
			.badge,
			.timeline-icon {
				background: $git !important;
			}
		}

		&.nodejs {
			.badge,
			.timeline-icon {
				background: $nodejs !important;
			}
		}

		&.db {
			.badge,
			.timeline-icon {
				background: $db !important;
			}
		}

		&.react {
			.badge,
			.timeline-icon {
				background: $react !important;
			}
		}

		&.redux {
			.badge,
			.timeline-icon {
				background: $redux !important;
			}
		}

		&.tailwind {
			.badge,
			.timeline-icon {
				background: $tailwind !important;
			}
		}

		&.webpack {
			.badge,
			.timeline-icon {
				background: $webpack !important;
			}
		}

		&.bootstrap {
			.badge,
			.timeline-icon {
				background: $bootstrap !important;
			}
		}

		&.pwa {
			.badge,
			.timeline-icon {
				background: $pwa !important;
			}
		}

		&.ts {
			.badge,
			.timeline-icon {
				background: $ts !important;
			}

			.timeline-icon {
				font-size: 3rem;
			}
		}

		&.graphql {
			.badge,
			.timeline-icon {
				background: $graphql !important;
			}
		}

		&.apollo {
			.badge,
			.timeline-icon {
				background: $apollo !important;
			}
		}

		&.nextjs {
			.badge,
			.timeline-icon {
				background: $nextjs !important;
			}
		}

		&.materialUI {
			.badge,
			.timeline-icon {
				background: $materialUI !important;
			}
		}
	}
}

.timeline-body:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.timeline-icon:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
