$color1: #7a7a7a;
$color2: rgb(254, 255, 225);

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	#first-line {
		font-weight: normal;
		font-family: 'Mr Dafoe';
		font-size: 14vw;
		text-align: center;
		line-height: 1;
		color: $color1;
		text-shadow: 0.25rem 0.1875rem 0rem yellow;
		letter-spacing: -0.5rem;
		animation: shine 10s linear infinite;

		-webkit-animation: glow 7s ease-in-out infinite alternate;
		-moz-animation: glow 7s ease-in-out infinite alternate;
		animation: glow 7s ease-in-out infinite alternate;

		@keyframes glow {
			from {
				color: $color1;
				text-shadow: 0 0 0.625rem $color2, 0 0 1.25rem $color2, 0 0 1.875rem $color2,
					0 0 2.5rem $color2, 0 0 3.125rem $color2, 0 0 3.75rem $color2, 0 0 4.375rem $color2,
					0 0 5.625rem $color2;
			}

			to {
				color: $color1;
				text-shadow: 0.25rem 0.1875rem 0rem yellow;
			}
		}
	}

	#second-line {
		margin-top: 0rem;
		// width: 8em;
		// height: 1.2em;
		width: 45rem;
		height: 7.3rem;			
		white-space: nowrap;
		overflow: hidden;
		border-right: 0.625rem solid;
		font-family: 'Mr Dafoe';
		font-size: 7vw;
		color: yellow;
		text-shadow: 0.25rem 0.1875rem 0rem $color1;
		transform: rotate(-7deg);
	}
}
